.date-picker_container{
    position: relative;
}
.date-picker-input{
    height: 20px;
    line-height: 20px;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.date-picker_wrap {
    width: 250px;
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    top: 25px;
}
.date-picker_wrap.hide{
    display: none;
}
.date-picker_wrap:before{
    content: '';
    display: block;
    position: absolute;
    top: -21px;
    left: 20px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #cccccc;
}
.date-picker_wrap:after{
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: 20px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}
.date-picker_wrap .date-picker_head{
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.date-picker_wrap .date-picker_head select{
    width: 100px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-right: 5px;
}
.date-picker_wrap .date-picker_body{
    width: 100%;
}
.date-picker_wrap .date-picker_body table{
    width: 100%;
    border-collapse : collapse;
}
.date-picker_wrap .date-picker_body table thead{
    padding: 3px;
    text-align: center;
}
.date-picker_wrap .date-picker_body table tbody{
    padding: 3px;
    text-align: center;
}
.date-picker_wrap .date-picker_body table tbody td{
    height: 30px;
    line-height: 20px;
    border: 1px solid #ffffff;
}
.date-picker_wrap .date-picker_body table tbody td.old-day,
.date-picker_wrap .date-picker_body table tbody td.old-day:hover{
    background: #eeeeee;
    color: #aaaaaa;
    cursor: default;
}
.date-picker_wrap .date-picker_body table tbody td:hover{
    background: lightblue;
    cursor: pointer;
}
.date-picker_wrap .date-picker_body table tbody td.active{
    background: lightskyblue;
}